.container {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

.text-content {
  flex: 1; /* Chiếm phần còn lại không gian */
  margin-right: 20px; /* Khoảng cách giữa văn bản và hình ảnh */
}

.image-right {
  max-width: 210px; /* Điều chỉnh chiều rộng hình ảnh */
  height: auto; /* Tự động điều chỉnh chiều cao */
}
